.products {
  width: 320px;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__wrapper {
    padding: 0 30px;
    margin: 0 auto;
    /*width: 320px;*/
  }
}

.catalog-list {
  margin: 0;

  &__item {
    border: 1px solid #ececec;
  }
}

.product-card {
  padding: 0;
  margin: 0;
  /*margin-bottom: 30px;*/

  &:last-child {
    margin-bottom: 30px;
  }

  &__link {
    /*color: #000000;*/
    text-decoration: none;
  }

  &__parameter {
    width: 204px;
    margin: 0;
    margin-left: 28px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-size: 13px;
    line-height: 30px;
    font-weight: normal;
    color: #444444;
    border-bottom: 1px solid #ececec;
  }

  &__price {
    display: inline-block;
    margin-left: 28px;
    margin-right: 100px;
    padding-bottom: 25px;
  }

  &__cart {
    margin: 0;

    path {
      fill: #231f20;
      opacity: 0.2;
    }
  }
}

.info-item {
  margin: 0;

  &__image {
    margin-bottom: 25px;
  }

  &__title {
    margin: 0;
    margin-left: 28px;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
  }
}
