.video {
  margin-bottom: 58px;
  position: relative;
  border: 1px solid @line-color-catalog;

  &:hover {
    box-shadow: 0px 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.video__substrate {
  margin-top: 93px;
  margin-bottom: 26px;
  position: relative;
}

.video__title {
  .pseudo-elem();
  width: 126px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  .block-title-text();
  font-size: 17px;
  line-height: 24px;
  top: -3px;
  left: -10px;

  &::before {
    .pseudo-elem();
    top: 30px;
    left: 44px;
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.video__button {
  .pseudo-elem();
  font-size: 0;
  background-color: transparent;
  border: none;
  width: 101px;
  height: 77px;
  bottom: 35px;
  left: 80px;
}

.video__icon {
  .pseudo-elem();
  bottom: 0px;
  left: 0px;
  width: 101px;
  height: 77px;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.video__text {
  width: 184px;
  margin: 0;
  margin-left: 34px;
  margin-bottom: 27px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: @text-color;
}

.video__order {
  margin: 0;
}

.video__link {
  margin-left: 34px;
  margin-bottom: 33px;
  padding-left: 25px;
  padding-right: 24px;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .video {
    width: 668px;
    margin-bottom: 62px;
  }

  .video__substrate {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .video__info {
    position: relative;
  }

  .video__title {
    width: 241px;
    position: inherit;
    top: -15px;
    left: 7px;
    font-size: 20px;
    padding-bottom: 18px;

    &::before {
      top: 20px;
      left: 35px;
    }
  }

  .video__image {
    width: 100%;
    height: 455px;
  }

  .video__button {
    bottom: 190px;
    left: 284px;
  }

  .video__icon {
    top: 0px;
    left: 0px;
  }

  .video__text {
    width: 581px;
    margin-left: 40px;
    margin-bottom: 34px;
    font-size: 15px;
    line-height: 30px;
  }

  .video__order {
    margin-left: 8px;
  }

  .video__link {
    margin-bottom: 45px;
    padding-top: 14px;
    padding-left: 220px;
    padding-bottom: 14px;
    padding-right: 221px;
  }
}

@media (min-width: @desktop-width) {
  .video {
    width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 105px;
  }

  .video__substrate {
    width: 682px;
    margin: 0;
    margin-right: 20px;
  }

  .video__image {
    width: 682px;
    height: 455px;
  }

  .video__button {
    bottom: 190px;
    left: 291px;
  }

  .video__icon {
    top: 0px;
    left: 0px;
  }

  .video__info {
    width: 350px;
  }

  .video__title {
    width: 148px;
    margin-top: 109px;
    padding: 0;
    padding-left: 53px;
    margin-bottom: 18px;

    &::before {
      top: -54px;
      left: 55px;
    }
  }

  .video__text {
    width: 225px;
    margin-left: 0;
    padding-left: 60px;
    margin-bottom: 46px;
  }

  .video__link {
    margin-left: 0;
    padding-left: 45px;
    padding-right: 45px;
  }

  .video__order {
    width: 367px;
    margin-left: 0;
    padding-left: 59px;
  }
}
