.promo {
  margin: 0;
  padding: 0;
  width: 320px;

  &__list {
    position: relative;
  }

  &__link {
    text-decoration: none;
    color: #ffffff;
  }

  &__item {
    display: block;

    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 29px;
    width: 106px;
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;


    &--interior::after {
      position: absolute;
      content: "";
      top: 15px;
      right: 35px;
      width: 40px;
      height: 62px;

      background-image: url("../../../img/icon-interior.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      opacity: 0.5;
    }

    &--toy::after {
      position: absolute;
      content: "";
      top: 15px;
      right: 25px;
      width: 60px;
      height: 60px;

      background-image: url("../../../img/icon-toy.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      opacity: 0.5;
    }
  }
}
