.map {
  width: 320px;
  margin: 0;
  margin-bottom: 39px;

  &__image {
    margin-bottom: 39px;
  }

  .write-us {
    margin: 0;

    &__link {
      padding-left: 73px;
      padding-right: 73px;
      min-width: 171px;
      text-decoration: none;
    }
  }
}
