.contacts__title {
  width: 260px;
  .block-title-text();
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 29px;
  margin: 0 auto;
}

.contacts__mail {
  margin-bottom: 34px;
}

.contacts__name {
  padding-right: 27px;
  vertical-align: top;
}

.contacts__link {
  color: @text-color;
  padding-bottom: 4px;
  border-bottom: 1px solid @light-green;

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
    border-bottom: 1px solid rgba(70, 193, 174, 0.3);
  }
}

.contacts__text {
  display: inline-block;
  margin: 0;
  width: 164px;
  line-height: 30px;
}

.contacts__map {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 41px;
  position: relative;
}

.contacts__map-image {
  width: 100%;
  margin-bottom: 39px;
}

.contacts__icon {
  .pseudo-elem();
  top: 140px;
  left: 140px;
  width: 67px;
  height: 100px;
}

.contacts__write-us {
  margin: 0;
  text-align: center;
}

.contacts__write-us-link {
  margin-bottom: 39px;
  padding-top: 14px;
  padding-right: 50px;
  padding-bottom: 14px;
  padding-left: 51px;
  min-width: 155px;
  text-decoration: none;
}

.contacts__wrapper {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 36px;
}

@media (min-width: @tablet-width) {
  .contacts {
    /*width: 668px;
    margin: 0 auto;
    padding: 0 50px;*/
  }

  .contacts__title {
    width: 668px;
    display: flex;
    justify-content: space-between;
    margin-top: 132px;
    font-size: 43px;
    line-height: 50px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: right top;
    align-items: center;
    margin-bottom: 33px;
    padding: 0;
    height: 81px;
  }

  .contacts__wrapper {
    width: 668px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 57px;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__mail {
    width: 300px;
    margin-right: 33px;
  }

  .contacts__address {
    display: flex;
    width: 305px;
  }

  .contacts__name {
    padding-right: 19px;
  }

  .contacts__addr {
    padding-right: 25px;
  }

  .contacts__text {
    width: 222px;
  }

  .contacts__map {
    width: 768px;
    height: 457px;
    margin: 0 auto;
    margin-bottom: 54px;
  }

  .contacts__map-image {
    width: 768px;
    height: 457px;
  }

  .contacts__icon {
    top: 140px;
    left: 364px;
  }

  .contacts__write-us {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .contacts__write-us-link {
    margin-bottom: 56px;
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    display: block;
    position: relative;
    width: 1050px;
    margin: 0 auto;
  }

  .contacts__title {
    width: 461px;
    margin-top: 220px;
    margin-bottom: 36px;
    margin-left: 62px;
    font-size: 53px;
    line-height: 57px;
    background-position: left top;
    padding-left: 105px;
  }

  .contacts__wrapper {
    width: 461px;
    display: block;
    padding-left: 109px;
    margin-left: 62px;
    margin-bottom: 79px;
  }

  .contacts__mail {
    margin-bottom: 30px;
  }

  .contacts__map {
    width: 525px;
    position: absolute;
    top: -59px;
    right: 2px;
  }

  .contacts__map-image {
    height: 457px;
    margin-bottom: 0;
  }

  .contacts__icon {
    top: 140px;
    left: 243px;
  }

  .contacts__write-us {
    width: 265px;
    margin-bottom: 105px;
    margin-left: 158px;
  }

  .contacts__write-us-link {
    margin: 0;
  }
}
