.main-footer {
  background-color: #f1f1f1;
}

.main-footer__wrapper {
  .wrapper();
}

.main-footer__social {
  border-bottom: 1px solid;
}

.main-footer__list {
  .ul-reset();
  display: flex;
  list-style: none;
}

.main-footer__link {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 0;

  &--instagram {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 55px;
      width: 22px;
      height: 21px;
      background-image: url("../img/icon-insta.svg");
      background-repeat: no-repeat;
    }
  }

  &--facebook {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 117px;
      width: 15px;
      height: 28px;
      background-image: url("../img/icon-fb.svg");
      background-repeat: no-repeat;
    }
  }


  &--twitter {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 170px;
      width: 23px;
      height: 20px;
      background-image: url("../img/icon-twitter.svg");
      background-repeat: no-repeat;
    }
  }
}

.main-footer__copyright {
  padding-bottom: 30px;
}

.main-footer__developed-by {
  display: inline-block;
  margin-left: 39px;
  padding-top: 30px;
  padding-right: 25px;
  font-size: 19px;
  line-height: 18px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: #000000;
  vertical-align: top;
}

.main-footer__developed-link {
  display: inline-block;
  padding-top: 20px;
}
